<p id="notice"><%= notice %></p>

<h1>Positions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Skills</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.title %></td>
        <td>
          <% position.skills.each do |skill| %>
            #<%= skill.name %>
          <% end %>
        </td>
        <td>
          <%= simple_form_for(current_user.user_position_requests.build,
            url: candidate_user_position_requests_path) do |f| %>
            <div><%= hidden_field_tag :position_id, position.id %></div>
            <%= f.submit 'Apply', class: "btn btn-primary btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', candidate_positions_path %>
