<h1>Positions</h1>

<div class="row">
  <% @positions.each do |position| %>
    <div class="col-sm-12 col-md-9 col-lg-6 col-xl-3">
      <div class="card">
        <h5 class="card-title"><%= position.title %></h5>
        <div class="card-body">
          <div class="card-title">
            <% position.skills.each do |skill| %>
              <span class="badge badge-info">#<%= skill.name %></span>
            <% end %>
          </div>
          <p class="card-text text-truncate"><%= position.description %></p>
          <% if current_user.applied?(position) %>
            <% @request = current_user.user_position_requests.find_by(position_id: position.id) %>
            <%= simple_form_for(@request, url: candidate_user_position_request_path(@request),
              html: { method: :delete }) do |f| %>
              <%= f.submit 'Withdraw', class: "btn btn-danger btn-sm" %>
            <% end %>
          <% else %>
            <%= simple_form_for(current_user.user_position_requests.build,
              url: candidate_user_position_requests_path) do |f| %>
              <div><%= hidden_field_tag :position_id, position.id %></div>
              <%= f.submit 'Apply', class: "btn btn-primary btn-sm" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>








<br>

<%= link_to 'Back', candidate_positions_path %>
