<h1>Positions</h1>

<div class="row">
  <% @positions.each do |position| %>
    <div class="col-sm-12 col-md-9 col-lg-6 col-xl-3 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><%= position.title %></h5>
        </div>
        <div class="card-body">
          <div class="card-title">
            <% position.skills.each do |skill| %>
              <span class="badge badge-info">#<%= skill.name %></span>
            <% end %>
          </div>
          <p class="card-text text-truncate"><%= position.description %></p>
          <div class="btn-toolbar">
            <% if current_user.applied?(position) %>
              <%= render 'withdraw', position: position %>
            <% else %>
              <%= render 'apply', position: position %>
            <% end %>
            <%= link_to 'Details', candidate_position_path(position), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>








<br>

<%= link_to 'Back', candidate_positions_path %>
