<%= simple_form_for position, url: position.persisted? ? hr_position_path :
  hr_positions_path, class: "form-inline" do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
        <% position.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :title %>
  <%= form.input :description %>
  <%= form.label :skills, 'Skill requirements' %>
  <%= render '/shared/skills_select', form: form %>
  <br>
  <%= form.button :submit, class: 'btn btn-primary' %>

<% end %>
