<h1>Positions</h1>

<div class="row">
  <% @positions.each do |position| %>
    <div class="col-sm-12 col-md-9 col-lg-6 col-xl-3 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><%= position.title %></h5>
        </div>
        <div class="card-body">
          <div class="card-title">
            <% position.skills.each do |skill| %>
              <span class="badge badge-info">#<%= skill.name %></span>
            <% end %>
          </div>
          <p class="card-text text-truncate"><%= position.description %></p>
          <div class="btn-toolbar">
            <div class="mr-2">
              (<%= position.candidates.count %>)
              <%= link_to 'Show', hr_position_path(position), class: "btn btn-primary btn-sm" %>
              <%= link_to 'Edit', edit_hr_position_path(position), class: "btn btn-primary btn-sm" %>
              <%= link_to 'Destroy', hr_position_path(position), method: :delete,
                data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<br>

<%= link_to 'New Position', new_hr_position_path %>
