<p id="notice"><%= notice %></p>

<h1>Positions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.title %></td>
        <% position.skills.each do |skill| %>
          <td>#<%= skill.name %></td>
        <% end %>
        <td><%= link_to 'Show', hr_position_path(position) %></td>
        <td><%= link_to 'Edit', edit_hr_position_path(position) %></td>
        <td><%= link_to 'Destroy', hr_position_path(position), method: :delete,
          data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position', new_hr_position_path %>
