<br><br>
<div class="card">
  <div class="card-header">
    <%= @position.title %>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <% @position.skills.each do |skill| %>
        <span class="badge badge-info">#<%= skill.name %></span>
      <% end %>
    </h5>
    <p class="card-text"><%= @position.description %></p>
    (<%= @position.candidates.count %>)
    <%= link_to 'Edit', edit_hr_position_path(@position), class: "btn btn-primary btn-sm" %>
    <%= link_to 'Destroy', hr_position_path(@position), method: :delete,
      data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
  </div>
</div>
<br>

<h3>Candidates</h3>
<div class="row">
  <% @position.candidates.each do |candidate| %>
    <div class="col-sm-12 col-md-9 col-lg-6 col-xl-3 mb-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"><%= candidate.firstname %> <%= candidate.lastname %></h5>
        </div>
        <div class="card-body">
          <div class="card-title">
            <% candidate.skills.each do |skill| %>
              <span class="badge badge-info">#<%= skill.name %></span>
            <% end %>
          </div>
          <p class="card-text text-truncate"><%= candidate.city %>, <%= candidate.country %></p>
          <div class="btn-toolbar">
            <div class="mr-2">
              <%= link_to 'Match this candidate', "#", class: "btn btn-primary btn-sm" %>
              <%= link_to 'Reject this candidate', "#", class: "btn btn-danger btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>




<%= link_to 'Back', hr_positions_path %>
