<br>
<h5>
  We are suggesting you those interviewers for
  <%= @candidate.firstname %> <%= @candidate.lastname %> :
</h5>

<%= simple_form_for(@candidate.interviewer_matchings.build, url: hr_match_path) do |f| %>
  <div><%= hidden_field_tag :user_id, @candidate.id %></div>
  <div><%= hidden_field_tag :position_id, @position.id %></div>
  <div class="btn-group-vertical">
    <%= f.collection_check_boxes :interviewer_id, @interviewers, :id, :firstname %>
  </div><br>
  <%= f.submit 'Match', class: "btn btn-primary btn-sm" %>
<% end %>
